.page {
  height: 100vh;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  image {
    width: 100%;
  }
  .touch-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
    .one {
      padding: 0 50px;
      font-size: 30px;
      text {
        padding-left: 8px;
      }
    }
    .two {
      display: flex;
      align-items: center;
      height: 100px;
      .item {
        width: 32%;
        text-align: center;
        text {
          margin-left: 10px;
          font-size: 26px;
        }
      }
    }
  }
}
.active {
  color: #d81e06;
}

.share-wechat-icon{
  color: #FFFFFF;
  background: transparent;
  box-shadow: 0;
  border: 0;
}
.share-wechat-icon::after{
  border:none;
}